@model ElectronicsShop.ViewComponents.CulturePickerModel

<div>
    <form method="GET">
        <div>
            <label class="sr-only" for="culture-picker">
                Culture
            </label>
            <select id="culture-picker"
                    class="btn btn-secondary"
                    name="culture"
                    onchange="this.parentElement.parentElement.submit();">
                @foreach (var culture in Model.SupportedCultures)
                {
                <option value="@culture.Name"
                        selected="@(Model.CurrentUICulture.Name == culture.Name)">
                    @culture.NativeName
                </option> 
                }
            </select>
        </div>
    </form>
</div>